.home-child{
    background-color: rgb(182, 178, 172);
    height: 340px;
    width: 240px;
    border-radius: 30px;

    
}
.campus-child img{
    height: 260px;
    width: 260px;
}
.campus-child button{
    border-radius: black;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px 30px;
}
.fac-child img{
height: 180px;
width: 220px;
border-radius: 10px;
}
.card-child img{
    height: 70px;
    width: 110px;
    border: none;
 border-radius: 70%;
 margin-top: 60px;
 margin-left: 20px;
}
    
   

.card-first-child{
    background-color: rgb(203, 203, 203);
    border-radius: 20px;
}
.last-child{
    background-image: url("/public/images/OIP\ \(1\).jfif");
    background-repeat: no-repeat;
    background-size: 30cm;
    height: 300px;
    width: 100%;
  opacity: 60%;
 
  
 
    
}
.last-child button{
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}
.logo-img{
    height: 90px;
    width: 90px;
}
.main-child{
    background-image:url("/public/images/OIP.jfif ");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  opacity: 60%;
    }
.nav-btn{
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}
.navbar-toggler-icon{
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 10px;

}
.navbar-toggler-icon::after{
    background-color: black;
}