.logo-img{
    height: 90px;
    width: 90px;
}
.main-child{
    background-image:url("/public/images/OIP (7).jfif ");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
  opacity: 60%;
    }
.nav-btn{
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}
.navbar-toggler-icon{
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 10px;

}
.navbar-toggler-icon::after{
    background-color: black;
}
